.songRow{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
    z-index: 100;
    color: white;
}

.songRow:hover{
    background-color: black;
    cursor: pointer;
    opacity: 0.8;
}

.songRow__info{
    margin-left:20px;
}

.song__info > h1{
    font-size: 16px;
}

.songRow__info > p {
    font-size: 14px;
    color: gray;
    margin-top:3px;
}

.songRow__album{
    height: 40px;
    width: 40px;
    
}